a{color: #C60065;}
a:hover{text-shadow:0 0 2px  #FF8C83;}
div.logo
	{
	background-color: #FF53AA;
	color: #FFB6DB;
	text-shadow:0 0 1px #ffffff
	}

header>nav,footer{background-color:  #EAB9FF;}
header>nav>ul>li>a{color:#7000A0}
header>nav>ul>li>a:hover{text-shadow: 0 0 2px  #FF53AA;}
table
	{
	background-color:  #FFB6DB;
	border:2px solid;
	border-radius:4px;
	border-color: #F7007E
	}

aside,.infobox_note
	{
	background-color: #E4FFB6;
	border:2px solid;
	border-radius:8px;
	border-color: #9FFC00
	}

.infobox_warning
	{
	background-color: #FFBBB6;
	border:2px solid;
	border-radius:8px;
	border-color: #FF1300;
	}
pre.code
	{
	background-color:#ffffff;
	border:2px solid;
	border-radius:8px;
	border-color:  #F7007E;
	}

h1,h2,h3{color: #A800F0;}
h2 a,h1 a {color: #FF1300;}
