* {box-sizing: border-box;}

body{margin:0px;}
html{margin:0px;}

h1{font-size:27.584px;margin-bottom:0px;margin-top:0px}

h2{font-size:19.152px;margin-bottom:0px;margin-top:0px;padding-top:2.25ex;padding-bottom:0.75ex}

h3{font-size:15.960px;margin-bottom:0px;margin-top:0px;padding-top:3.25ex;padding-bottom:1.5ex}

h4{font-size:14.630px;margin-bottom:0px;margin-top:0px;padding-top:1.625ex;padding-bottom:0.75ex}

h5{font-size:14.630px;margin-bottom:0px;margin-top:0px;padding-top:0px;padding-bottom:0px; display:inline}

p{margin-top:0px;margin-bottom:0px;text-indent:32px;}

p,dd,li,code,td,div,th,dt{font-size:14.630px;margin-top:0px;margin-bottom:0px;}

h1+p,h2+p,h3+p,h4+p,h5+p,p:first-of-type,li{text-indent:0px}

li,dd,td{padding-bottom:0.75ex}
th{vertical-align:top;}
cite{font-style:normal}

p.bibitem,table{text-indent:0px;margin-top:1.25ex;margin-bottom:1.5ex}

ol,ul{padding-left:14px;}
nav{padding-right:0.05em;}

h1,h2,h3,h4,h5,h6,p,li,td,th,div,dd,dt
	{font-family:$font_ normal ;}
h1,h2,h3,h4,h5,h6,dt,th
	{font-weight:bold;}
.paramname{font-style:italic}
code,pre,kbd,div.line{font-family:$font_ monospace ;white-space:pre}
pre > code,kbd{font-size:10px}

table,pre.fragment,div.fragment,.note,.warning,.see
	{
	width:calc(100% - 128px);
	position:relative;
	border:1px solid;
	margin:auto;
	border-radius:2px;
	margin-bottom:1.25ex;
	margin-top:1.25ex;
	padding:4px;
	}

table,.note,.warning,.see
	{
	border:2px solid;
	margin:auto;
	border-radius:4px;
	margin-bottom:1.25ex;
	margin-top:1.25ex;
	}

.memtemplate,.memTemplParams{display:block}
th.membername,th.fieldname{text-align:left;}
th.membername{padding-left:32px; text-indent:-32px;}
tr{border-bottom:1px solid rgba(0,0,0,0.5);}

.memproto,article>h1{padding-top:2.25ex;padding-bottom:1.0ex}
article{padding-left:8px;}


nav{width:100%;display:block;}
nav{border-collapse:separate;border-spacing:4px 0px;}
nav > ul.tablist{padding-left:4px;margin-top:0px;margin-bottom:0px}
nav > ul.tablist > li
	{
	display:table-cell;
	padding:4px;
	margin:0px;
	font-weight:bold;
	border-radius:4px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border:1px solid;
	box-shadow: 0px -1px 1px 1px #c0c0c0;
	border-color: $tablist_ background ;
	}

nav > ul.tablist > li.current
	{
	border-bottom:0px solid;
	box-shadow: 0px -1px 1px 1px $menubutton_ active_ shadow ;
	}


nav > ul.navpath{padding-left:24px;margin-top:0px;margin-bottom:0px}
nav > ul.navpath > li
	{
	display:table-cell;
	padding:0px;
	margin:0px;
	font-weight:bold;
	}

nav > ul.navpath > li:before
	{
	content:"» ";
	}

nav > ul.navpath > li:first-child:before
	{
	content:"";
	}

header>h1{padding-left:8px;font-size:30px;padding-top:10px;padding-bottom:5px;margin-bottom:0px;margin-top:0px;border:0px solid}
a{text-decoration:none}

a {color: $link_ color ;}
h1,h2,h3,h4{color: $header_ color ;}
.memproto{color: $memheader_ color ;}
table.memberdecls,table.directory
	{
	background: $memberdecls_ background ;
	border-color: $memberdecls_ border ;
	}

body{background:$page_ background ;}
nav {background:$menu_ background ;}
nav > ul.tablist {background:$tablist_ background ;}
nav > ul.tablist > li {background:$menubutton_ background ;}
nav > ul.tablist > li.current {background: $menubutton_ active_ background ;}
nav > ul > li > a{color:$menubutton_ text ;}
nav > ul.navpath > li > a{color:$navtext_ color ;}
nav > ul.navpath{background: $navpath_ background ;}
dl.section,div.fragment,pre.fragment{background: $infobox_ background ;}
dl.section.warning{border-color: $warning_ border ;}
dl.section.note,pre.fragment,div.fragment{border-color: $note_ border ;}
dl.section.see{border-color: $see_ border ;}
table.params,table.fieldtable{border-color: $parameters_ border ; background: $parameters_ background ;}

.keywordtype{color: $keywordtype_ text ;}
.keyword,.keywordflow{color: $keyword_ text ;font-weight: bold ;}
.comment{color: $comment_ text ;}

article{background: $article_ background ;}
header{background: $header_ background ;}
header>h1{color: $title_ text ;}
/*

@media screen and (min-width: 700px)
	{
	body > * {width:calc(100% - 200px);position:relative;left:200px;}

	nav{top:0;position:fixed;width:200px;left:0px;padding-left:8px;height: 100%;overflow-y:auto}

	nav > h2,nav > ol{position:static}

	div.listing,figure,titlepic,div.infobox_warning
		{position:relative;width:calc(100% - 200px - 80px);left:200px;margin-left:40px;}

	}*/


@media print {
    h2 {page-break-before: right;}
	pre,code{overflow-x: visible;overflow-y:visible}
}

